<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<header>
    <%- include('../partials/header'); %>
</header>
<main>
    <h1>Delete a record?</h1>

    <form action="/delete/<%= accounts.Email %>" method="post">
        <div class="form-horizontal">

            <%- include("editor") -%>

            <div class="form-group row">
                <label class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input type="submit" value="Delete" class="btn btn-default btn-danger"/>
                    <a class="btn btn-outline-dark cancel" href="/admin">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</main>
<%- include('../partials/footer'); %>
</html>